<div class="modal-body wrapper-lg" ng-init="initUpdateFeedback()">
  <div class="row">
    <div class="col-sm-12 b-r">
    	<button type="button" class="btn btn-danger  btn-xs pull-right" ng-click="cancel()">
		               <i class="fa fa-remove"></i></button>

    	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.type}} {{alert.msg}}</alert>
      	<h3 class="m-t-none m-b font-thin">Update Feed Back</h3>

			<form name="serviceForm" action="#" ng-submit = "UpdateFeedback()" method="post" enctype="multipart/form-data" class="form-horizontal form-validation" onsubmit="return false;">	
				<div class="form-group">
					<label class="col-sm-2 control-label" for="example-email-input">FeedBack
					</label>
					<div class="col-sm-10">											
							<textarea type="text" ng-model="service.feedback" id="feedback" name="feedback" class="form-control" style="resize:none" placeholder="Write Your feedback">
							</textarea>	
					</div>	
				</div>
				<div class="form-group" ng-controller="RatingDemoCtrl">
					<label class="col-sm-2 control-label" for="example-email-input">Rating
					</label>
					<div class="col-sm-10">											
					
					 <rating ng-model="service.customer_rating" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" style="color:gold"></rating>
				    <!--  <span class="label" ng-class="{'label-warning' : percent<30 , 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>	 -->	 
				    <span class="label" ng-class="{'label-warning' : percent<30}" ng-show="overStar && !isReadonly" ng-if="percent<30">Poor</span>
				     
				     <span class="label" ng-class="{'label-success' : percent>=30 && percent<70}" ng-show="overStar && !isReadonly" ng-if="percent>=30 && percent<70">Good</span>

				     <span class="label" ng-class="{'label-success' : percent>70}" ng-show="overStar && !isReadonly" ng-if="percent>70">Excellent</span>
					</div>	
				</div>

				<div class="text-right lter">
					<button type="submit" class="btn btn-success"  ng-disabled="serviceForm.$invalid">
		               <i class="fa fa-edit"></i> Update</button>
		            <button type="button" class="btn btn-warning" ng-click="cancel()">
		               <i class="fa fa-repeat"></i> Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>