<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Parts Group</h1>
  <small class="text-muted">Manage Parts Group</small>
</div>
<!-- <ul class="breadcrumb bg-white b-a">
	<li>Customers</li>
</ul> -->
<div class="wrapper-md" ng-init="initPartsgroup()">
<div ng-init="initViewPartgroup()">
  <div class="row m-b-sm">
    <div class="col-md-6">
    	<a ui-sref="^.create" class="btn btn-sm btn-primary">
    	<i class="fa fa-plus space-6"></i> Create</a>
		 
		 <!-- <a ng-click="multiDelete()" class="btn btn-sm btn-danger"> -->
		 	<!-- <span ng-show="{{access}}"><a ng-click="multiDelete()"	class="btn btn-sm btn-danger" id="style-condensed"><i class="fa fa-remove"></i> Delete</a>
		 	</span> -->
    </div>
    <form action="#" ng-submit="getList()" method="post" enctype="multipart/form-data"
            class="form-horizontal form-bordered" onsubmit="return false;">
    <div class="col-md-6">
    <div class="form-group">
           <div class="col-md-8">
              <input type="text" ng-model="params.no"
                id="partsgroup" name="partsgroup"
                class="form-control" placeholder="Parts Group">
            </div>
            
            <button type="submit" class="btn btn-sm btn-success btn-sm ">
            <i class="fa fa-search"></i>
               Search
            </button>
                       
            <button type="reset" ng-click="reset()" class="btn btn-sm btn-danger btn-sm ">
            <i class="fa fa-undo"></i>
               Reset
            </button>
            
          </div>
    </div>
    </form>
  </div>
  <div class="panel panel-default">

    <div class="panel-heading">
      Parts group: {{totalpartsgroup}}
    </div>
    <div class="row">
    <div ng-repeat="partsgroup in partsgroups">
    <div class="col-lg-3" style="margin: 1%">
          <div class="panel b-a">
            <div class="panel-heading pos-rlt b-b b-light">
              <span>{{partsgroup.no}}</span>
            </div>
            <div class="panel-body">
              <div ui-jq="slimScroll" ui-options="{height:'70px', size:'3px'}">{{partsgroup.desc}}</div>
              <div class="m-t-sm">
               <a ng-show="deleteAction" href="javascript:void(0)" ui-sref="^.edit({partsgroupId: partsgroup._id})"><span class="btn btn-addon btn-sm btn-info m-t-xs">Edit </span></a>
               <a ng-show="deleteAction" ng-click="deletePartsgroup(partsgroup._id, row)">
                <span class="btn btn-addon btn-sm btn-danger m-t-xs pull-right">Remove</span></a>

              </div>
            </div>
          </div>

          </div>
          </div>
      </div>
  </div>
</div>
</div>
<pagination boundary-links="true" class="pull-right" total-items="totalpartsgroup" items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()" data-max-size="maxPages"></pagination>