<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Vehicle Types</h1>
  <small class="text-muted">Manage Vehicletypes</small>
</div>
<!-- <ul class="breadcrumb bg-white b-a">
	<li>Customers</li>
</ul> -->
<div ng-init="initVehicletypes()">
<div class="wrapper-md" ng-init="initVehiclesTypes()">
  <div class="row m-b-sm">
    <div class="col-md-6">
    	<a ui-sref="^.create" class="btn btn-sm btn-primary">
    	<i class="fa fa-plus space-6"></i> Create</a>
		 
		 <!-- <a ng-click="multiDelete()" class="btn btn-sm btn-danger"> -->
		 	<span ng-show="{{access}}"><a ng-click="multiDelete()"	class="btn btn-sm btn-danger" id="style-condensed"><i class="fa fa-remove"></i> Delete</a>
		 	</span>
    </div>
    <form action="#" ng-submit="getList()" method="post" enctype="multipart/form-data"
            class="form-horizontal form-bordered" onsubmit="return false;">
    <div class="col-md-6">
    <div class="form-group">
           <div class="col-md-9">
            <div class="col-md-7">
              <input type="text" ng-model="params.name"
                id="vehicletype" name="vehicletype"
                class="form-control" placeholder="vehicle Type">
            </div>
            <button type="submit" class="btn btn-sm btn-success btn-sm ">
            <i class="fa fa-search"></i>
               Search
            </button>

             <button type="reset" ng-click="reset()" class="btn btn-sm btn-danger btn-sm ">
            <i class="fa fa-undo"></i>
               Reset
            </button>
          </div>
    </div>
    </div>
    </form>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      Vehicle Types : {{totalVehcileTypes}}
    </div>
    <div class="row">
    <div ng-repeat="vehicletype in vehicletypes">
    <div class="col-lg-2">
     <div class="panel panel-info">
            <div class="panel-body">
              <div class="clear">
                <p class="text-info block m-b-xs">{{vehicletype.name}}</p>
                <a ng-show="deleteAction" href="javascript:void(0)" ui-sref="^.edit({vehicletypeId: vehicletype._id})"><span class="btn btn-addon btn-sm btn-info m-t-xs">Edit </span></a>
                <span ng-show="deleteAction" class="btn btn-addon btn-sm btn-danger m-t-xs pull-right">
                <a ng-click="deleteVehicleType(vehicletype._id, row)">Remove</a></span>
              </div>
            </div>
          </div>
          </div>
      </div>
  </div>
  </div>
</div>
</div>
<pagination boundary-links="true" class="pull-right" total-items="totalVehcileTypes" items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()" data-max-size="maxPages"></pagination>
