<!-- Page content -->

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3 text-black">Dealer</h1>
        <small class="text-muted">Edit Dealer</small>
    </div>
    <ul class="breadcrumb bg-white b-a">
  <li><a ui-sref="^.list">
  <i class="fa fa-user-md icon text-info-dker"></i> Dealers</a></li>
  <li>Edit Dealer</li>
</ul>
      
    <div class="wrapper-md" ng-init="initEditDealer()">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <form name="dealerForm" action="#" ng-submit = "updateDealer()" method="post" enctype="multipart/form-data" class="form-horizontal form-validation" onsubmit="return false;">

        <div class="panel panel-default">
            <div class="panel-heading font-bold">
                Edit Dealer
            </div>
            <div class="panel-body">
            
                    <div ng-include='"app/dealers/form.html"'></div>
             </div>
              
          <footer class="panel-footer text-right bg-light lter">
              <button type="submit" class="btn btn-success" ng-disabled="dealerForm.$invalid || invalid"> <i class="fa fa-edit"></i> Update</button>
               <button type="reset" ng-show="access" class="btn btn-warning" ng-click="resetStatus()">
                <i class="fa fa-repeat"></i> Reset</button>
            </footer>    
        </div>
        </form>
    </div>    
       <!-- END Page Content -->