<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Branches</h1>
  <small class="text-muted">Manage Branches</small>
</div>
<div class="wrapper-md" ng-init="initBranches()">
  <div class="row m-b-sm">
    <div class="col-md-6">
    	<a ui-sref="^.create" class="btn btn-sm btn-primary" ng-show="{{access}} || {{accessSales}}">
    	<i class="fa fa-plus space-6"></i> Create</a>
		 
		 	<span ng-show="{{access}}"><a ng-click="multiDelete()"	class="btn btn-sm btn-danger" id="style-condensed"><i class="fa fa-remove"></i> Delete</a>
		 	</span>
    </div>
    <form action="#" ng-submit="getList()" method="post" enctype="multipart/form-data"
            class="form-horizontal form-bordered" onsubmit="return false;">
    <div class="col-md-6">
    <div class="form-group">
           <div class="col-md-9">
             <div class="row">
              <div class="col-sm-6">
             <select ng-init="initAllBranches()" ng-model="params.type"
                id="dealer" name="dealer" class="form-control" size="1">
                <option value="">Select Type </option>
                <option value="name">Branch</option>
                <option value="email">Email</option>
                <option value="phone">Phone</option>
                <option value="city">City</option>
              </select>
              </div>
              <div class="col-sm-6">
              <input type="text" ng-model="params.value"
                id="dealer" name="dealer"
                class="form-control" placeholder="Search">
            </div>
            </div>
            </div>
            <button type="submit" class="btn btn-sm btn-success btn-sm ">
            <i class="fa fa-search"></i>
               Search
            </button>
          </div>
    </div>
    </form>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Branches : {{branches.total}}
    </div>
    <div class="table-responsive">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.type}}
		{{alert.msg}}</alert>
      <div ng-grid="gridOptions" style="min-height:420px"></div>
    </div>
  </div>
</div>

