<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Search Customer Vehicles</h1>
  <small class="text-muted">Manage Search</small>
</div>
<div class="wrapper-md" ng-init="initCustomervehicles()">
<div class="panel panel-default">
<div class="panel-heading font-bold">Advanced CustomerVehicle Search</div>
<div class="panel-body">
  <form action="#" ng-submit="getList()" method="post" enctype="multipart/form-data"
			class="form-horizontal form-bordered" onsubmit="return false;">

<div class="row">
			<div class="col-md-12" id="invoices-div">
				<div class="col-md-6">
					<div class="form-group ">
					<label class="col-md-3 control-label" for="purchase_date">Purchase Date
						</label>
						<div class="col-md-9">	
							<date-range-picker style="cursor: default" ng-model="dateRange" class="btn btn-md btn-info daterange pull-right" ranges="ranges">
							<i class="fa fa-calendar fa-lg"></i>
    						<span>{{dateRange.startDate | amDateFormat: 'MMM D, YYYY'}} - {{dateRange.endDate | amDateFormat: 'MMM D, YYYY'}}</span>
    						<b class="caret"></b>
							</date-range-picker>
						</div>
						
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label" for="customer">Customer
						</label>
						<div class="col-md-9">
							<select ng-init="initAllCustomers()" ng-model="params.customer"
								id="customer" name="customer" class="form-control" size="1"
								ng-options="customer._id as (customer.name) for customer in allCustomers">
								<option value="">Select Customer</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label" for="vehicletype">Vehicle Type
						</label>
						<div class="col-md-9">
							<select ng-init="initAllVehicleTypes()"
							ng-model="params.vehicle_type" id="vehicle_type"
							name="vehicle_type" class="form-control" size="1"
							ng-options="vehicle_type._id as (vehicle_type.name) for vehicle_type in allVehicletypes">
							<option value="">Select Vehicle Type</option>
						</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label" for="model">Model
						</label>
						<div class="col-md-9">
							<select ng-init="initAllModels()"
							ng-model="params.model" id="model"
							name="model" class="form-control" size="1"
							ng-options="model._id as (model.name) for model in allModels">
							<option value="">Select Models</option>
						</select>
						</div>
					</div>

					

				
				</div>
				<div class="col-md-6">
				<div class="form-group">
						<label class="col-md-3 control-label" for="model">Make
						</label>
						<div class="col-md-9">
							<select ng-init="initAllMakes()"
							ng-model="params.make" id="make"
							name="make" class="form-control" size="1"
							ng-options="make._id as (make.name) for make in allMakes">
							<option value="">Select Makes</option>
						</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label" for="model">Warranty Type
						</label>
						<div class="col-md-9">
					<select ng-init="initAllWarrantytype()"
							ng-model="params.warranties" id="warranty_type"
							name="warranty_type" class="form-control" size="1"
							ng-options="warrantytype._id as (warrantytype.name) for warrantytype in allWarrantytypes">
							<option value="">Select Warranty Type</option>
						</select>
						</div>
					</div>

					<div class="form-group" >
						<label class="col-md-3 control-label" for="reg_no">Reg No
							 </label>
						<div class="col-md-9">
							<input ng-model="params.reg_no" type="text" id="reg_no"
								name="reg_no" class="form-control" placeholder="Reg No (Ex: 11233)">
						</div>
					</div>
				</div>
			</div>
		</div>
			<footer class="panel-footer text-right bg-light lter">
	              <button type="submit" class="btn btn-success">
	               <i class="fa fa-search"></i> Search</button>
	              <button type="reset" class="btn btn-warning" ng-click="resetStatus()">
	                <i class="fa fa-repeat"></i> Reset</button>
	            </footer>
	        <!--     <a ui-sref="^.reports" class="pull-right"> Generate Reports</a> -->
		<!-- </div> -->
		</form>
	</div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Customer Vehicles Result: {{customervehicles.total}}
      <div class="pull-right" ng-show="true">
      <span ng-show="{{access}}"><a ng-click="multiDelete()" class="btn btn-xs btn-danger " id="style-condensed">
      <i class="fa fa-remove"></i> Delete</a></span>
	</div>
    </div>
    <div class="table-responsive">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.type}}
		{{alert.msg}}</alert>
      <div ng-grid="gridOptions" style="min-height:420px"></div>
    </div>
  </div>
</div>

